.button {
    width: 108px;
    height: 108px;
    border: 0px;
    border-radius: 9px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #d3d3d3,
             -6px -6px 12px #ededed;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}



button:hover {
    border: 0px;
    text-shadow: 0px 0px 0px transparent;
    border-radius: 9px;
    background: #e0e0e0;
    box-shadow: inset 6px 6px 12px #d3d3d3,
            inset -6px -6px 12px #ededed;
}

button:active {
    outline: none;
    border: none;
    color: black
}

button:focus {
    outline: 1px;
}